.hero {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('#{$rootUrl}/public/images/MX/515.png');
    background-size: cover;
    height: calc(100vh);
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    
    color:white;
    font-family: 'ethno','Muli';

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .hero__content {
        

        .heading--large{
            font-size:72px;
            font-weight: 900;
            font-style: italic;
            margin:0;
            line-height: 1em;
            font-family: 'ethno','Muli';
        }

        .heading--small {
            font-size:20px;
            font-weight: 600;
            margin:20px 0px;
            transform: skewX(-10deg);

        }

        .button-group {
            font-family: 'Muli';
        }
    }
    @include media($small){

        .hero__content {
            
        img {
            height: 45px;
        }
            padding:20px;
        
            .heading--large{
                font-size:2.3em;

            }
    
            .heading--small {
                font-size:1em;
                font-weight: 300;
            }
        }
    }
    @include media($middle){

        .hero__content {
                   
            img {
                height: 70px;
            }
            .heading--large{
                font-size:72px;
            }
    
            .heading--small {
                font-size:20px;
                margin-top:0px;
            }
    
            .button-group {

            }
        }
    }

}

.hero-sci {
    display: none;
    @include media($small){
        display:flex;
    }
}

@media (max-width: 992px) {
    .container {
       width: 100%;
       max-width:100%;
    }
 }