.button {
    display: inline-block;
    padding:10px 40px;
    color:black;
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    min-width: 200px;
    transform: skewX(-20deg);

}