.text-container {
    @extend .container;
    min-height: 35vh;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    @include media($small) {
        padding:40px;
        width: 100%;
    }
}


.text-container--sponsorship {
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;

    .text-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 450px;
        padding-bottom: 50px;

        .text-heading {
            font-size: 2em;
        }
        .text-paragraph {

        }
    }

} 